torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
torchao==0.7.0
torchtune==0.4.0
torchcodec
tokenizers>=0.21.0
transformers>=4.49.0
huggingface_hub>=0.28.1
moshi>=0.2.2
silentcipher @ git+https://github.com/SesameAILabs/silentcipher@master
hf_transfer